.courses-container{width: 1150px;margin-top: -41px;}
.courses-title{font-size:15px; color:#444; border-bottom:solid 1px #E6E6E6; text-transform:uppercase; margin-bottom:20px;}
.courses-title span{display:inline-block; border-bottom:solid 5px #07718e; padding-bottom:8px; font-weight:bold;}
ul.course-box{list-style:none;}
ul.course-box li{width:300px; float:left; padding:5px 0px;}
.new{width:300px; float:left; padding:5px; background:none;}
.course-box-head{background:url(../images/icon.png) no-repeat left 4px; font-size:16px; color:#000; text-transform:uppercase; padding-left:60px; text-align:left; font-weight:bold;}
.course-content{font-size:12px; color:#494c4d; text-align:justify; line-height:20px; margin:8px 0px;}
.course-content span{font-size:13px; color:#000; line-height:24px;}
a.register{font-size:16px; color:#fff; float:right; text-align:center; line-height:32px; background:#04b9e6; padding:0 10px; text-decoration:none;}
.courses-title{
	padding: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	border-bottom: 1px solid gray;
}
#featured-products_block_center,
#best-sellers_block_center {
  position: relative;
}
#featured-products_block_center.block,
#best-sellers_block_center.block {
  margin-bottom: 0;
}
#featured-products_block_center .block_content,
#best-sellers_block_center .block_content {
  padding: 30px 0px 0px 0px;
}
#featured-products_block_center ul,
#best-sellers_block_center ul {
  overflow: hidden;
}
#featured-products_block_center ul li,
#best-sellers_block_center ul li {
 float: left;
margin-right: 0px;
margin-top: 0px;
width: auto;
}
#featured-products_block_center ul li.first_in_line,
#best-sellers_block_center ul li.first_in_line {
  clear: left;
}
#featured-products_block_center ul li.last_in_line,
#best-sellers_block_center ul li.last_in_line,
#featured-products_block_center ul li.item_last,
#best-sellers_block_center ul li.item_last {
  margin-right: 0;
}
#featured-products_block_center ul li.last_in_line .right_border,
#best-sellers_block_center ul li.last_in_line .right_border,
#featured-products_block_center ul li.item_last .right_border,
#best-sellers_block_center ul li.item_last .right_border {
  border: none;
}
#featured-products_block_center .right_border,
#best-sellers_block_center .right_border {
  border-right: 1px dotted #bebebe;
  padding: 0 10px 34px;
  margin-bottom: 10px;
}
#featured-products_block_center .product_image,
#best-sellers_block_center .product_image {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
}
#featured-products_block_center .product_desc,
#best-sellers_block_center .product_desc {
  padding-bottom: 5px;
}
#featured-products_block_center .price_container,
#best-sellers_block_center .price_container {
  padding-bottom: 5px;
}
#featured-products_block_center .sp_block,
#best-sellers_block_center .sp_block {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 18px;
  min-height: 26px;
}
#featured-products_block_center .sp_block span,
#best-sellers_block_center .sp_block span {
  display: inline-block;
  margin-top: 8px;
  color: #b52954;
}
#featured-products_block_center .sp_block span + span,
#best-sellers_block_center .sp_block span + span {
  border-left: 1px dotted #bebebe;
  padding-left: 8px;
  margin-left: 8px;
  color: #ffa618;
}
#featured-products_block_center h5,
#best-sellers_block_center h5 {
  padding-bottom: 17px;
  min-height: 34px;
}
#featured_list {
	overflow: hidden;
	width: 1050px;
	margin: 0px auto;
	margin-left:0px;
	margin-top: -25px;
}
#featured-products_block_center a#featured_scroll_left,
#featured-products_block_center a#featured_scroll_right {
  display: block;
  position: absolute;
  top:0px;
  width:9px;
  height:18px;
  z-index: 2;
}
#featured-products_block_center a#featured_scroll_left.disable,
#featured-products_block_center a#featured_scroll_right.disable {
  background-position: 0 top;
}
#featured-products_block_center a#featured_scroll_left,
#featured-products_block_center span#featured_scroll_left {
	margin-top: 26%;
  	right: 30px;
  	background:url(../img/prev.png) -2px no-repeat;
  	padding:10px;
}
#featured-products_block_center a#featured_scroll_right,
#featured-products_block_center span#featured_scroll_right {
	margin-top: 26%;
	right: 1px;
	background:url(../img/next.png) -2px no-repeat;
	padding: 9px;
}
#featured-products_block_center span#featured_scroll_left,
#featured-products_block_center span#featured_scroll_right {
  background-position: 0 top;
  display: block;
  position: absolute;
  top: 0px;
  width: 9px;
  height: 18px;
  z-index: 1;
}
#best-sellers_block_center ul li {
  margin-bottom: 15px;
}
.sidebar-Bike #featured-products_block_center a#featured_scroll_right,
.sidebar-Bike #featured-products_block_center span#featured_scroll_right,
.sidebar-Bike #featured-products_block_center a#featured_scroll_left,
.sidebar-Bike #featured-products_block_center span#featured_scroll_left{
	margin-top:12%;
}
#page_no{
	float:right;
	text-transform:capitalize;
	font-weight:normal;
	position: relative;
right: 100px;
}
