@charset "utf-8";
/* CSS Document */

/*  Loading  */
#pageloader{background:#f1f1f1;position:absolute;z-index:99999999999999;width:100%;height:100%;top:0;opacity:0.95;}
#bg_color{background:#1FB6DB;position:absolute;width:100%;height:100%;top:0;opacity:0.1;}
#bonfire-pageloader svg{fill:#000;}
#circle{width:100px;height:94px;background: url(../img/logo.png) no-repeat;position: relative;background-size:100%;margin:0 auto;top:200px;				 -webkit-animation:spin 2s linear infinite;-moz-animation:spin 2s linear infinite;animation:spin 2s linear infinite;z-index:9999;right:70px;}
#pageloader h1{margin:0 auto;text-align: center;position: relative;top: 130px;text-shadow: 0px 2px 0px lightblue;left:130px;font-weight: 400;width:80%;font-family: cursive;}
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg);} }
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg);}}
#bonfire-pageloader{position:absolute;z-index:99999999999999;left:0;right:0;top:0;bottom:0;margin-top:-50px;}
/* the loading icon */
.bonfire-pageloader-icon {width:100px;height:100px;position:absolute;margin:115px 0 0 0;opacity:1;top:0;}
#bonfire-pageloader svg {-webkit-animation:spin1 2s linear infinite;-moz-animation:spin1 2s linear infinite;animation:spin1 2s linear infinite;width:100px;
height:100px;}
@-webkit-keyframes spin1 { 100% { -webkit-transform: rotate(-360deg); } }
@-moz-keyframes spin1 { 100% { -moz-transform: rotate(-360deg); } }
@keyframes spin1 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg);}}
svg{fill:#fff;}


[class^="btn-"]{
	margin:0 auto;
}
.btn-15p{
	width:15%;
	margin:0 auto;
	float: right;
	margin-right: 92px;
}
.btn-8p,.input-cmn8p{
	width:8%!important;
}
.btn-10p,.input-cmn10p{
	width:10%!important;
}
.btn-20p,.input-cmn20p{
	width:20%!important;
}
.btn-25p,.input-cmn25p{
	width:25%!important;
}
.btn-30p,.input-cmn30p{
	width:30%!important;
}
.btn-33p,.input-cmn33p{
	width:33%!important;
}
.btn-40p,.input-cmn40p,.tbl-40p{
	width:40%!important;
}
.btn-50p,.input-cmn50p,.tbl-50p{
	width:50%!important;
}
.btn-60p,.input-cmn60p,.tbl-60p{
	width:60%!important;
}
.btn-70p,.input-cmn70p,.tbl-70p{
	width:70%!important;
}
.btn-80p,.input-cmn80p,.tbl-80p{
	width:80%!important;
}
.btn-90p,.input-cmn90p,.tbl-90p{
	width:90%!important;
}
.btn-100p,.input-cmn100p,.tbl-100p{
	width:100%!important;
}
