@charset "utf-8";
/* CSS Document */
[class^="btn-"]{
	margin:0 auto;
}
.btn-15p{
	width:15%;
	margin:0 auto;
	float: right;
	margin-right: 92px;
}
.btn-8p,.input-cmn8p{
	width:8%!important;
}
.btn-10p,.input-cmn10p{
	width:10%!important;
}
.btn-20p,.input-cmn20p{
	width:20%!important;
}
.btn-25p,.input-cmn25p{
	width:25%!important;
}
.btn-30p,.input-cmn30p{
	width:30%!important;
}
.btn-33p,.input-cmn33p{
	width:33%!important;
}
.btn-40p,.input-cmn40p{
	width:40%!important;
}
.btn-50p,.input-cmn50p{
	width:50%!important;
}
.btn-60p,.input-cmn60p{
	width:60%!important;
}
.btn-70p,.input-cmn70p{
	width:70%!important;
}
.btn-80p,.input-cmn80p{
	width:80%!important;
}
.btn-90p,.input-cmn90p{
	width:90%!important;
}
.btn-100p,..input-cmn100p{
	width:100%!important;
}
