@charset "utf-8";
/* CSS Document */
.clear{clear:both;}

/* Only Grid Style   */

.DyGrid-11{width:1100px;margin:0 auto;height:auto;}
.DyGrid-10{width:1000px;margin:0 auto;height:auto;}
.DyGrid-9{width:900px;}
.DyGrid-8{width:800px;}
.DyGrid-7{width:700px;}
.DyGrid-6{width:600px;}
.DyGrid-11,.DyGrid-10,.DyGrid-9,.DyGrid-8,.DyGrid-7,.DyGrid-6{
	margin:0 auto;
	border-top:none;
	font-family: Verdana, Geneva, sans-serif;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: 0px 0px 0px 1px #f1f1f1;
	margin-top:10px;
}
/* Table Main Header */
[class^="popup_form"] table{
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}
[class^="popup_form"] td{
	padding:5px 10px;
}

.DyGrid-11 header,.DyGrid-10 header,.DyGrid-9 header,.DyGrid-8 header,.DyGrid-7 header,.DyGrid-6 header{
	width:100%;
	float:left;
	margin: 0 auto;
	font-size: 20px;
	font-weight:900;
	padding:13px 0px;
	position: relative;
	background:#fff;
	background:-webkit-gradient(linear, 0% 0%, 0% 20%, from(#FFFFFF), to(#fff));
	background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	box-shadow: 0px 0px 0px 0px #f1f1f1;
}
header a.add,header a.cancel{
	float:left;
	margin-left:15px;
	text-decoration:none;
	padding:5px 13px;
	font-size:13px;
	border:1px solid #f1f1f1;
	background:#08C;
	background:-webkit-linear-gradient(top,#06A,#08C);
	background:-moz-linear-gradient(top,#06A,#08C);
	color:#fff;
	border-radius:3px;
}
header a.cancel{
	background:#9a1616;
	background:-webkit-linear-gradient(top,#9a1010,#9a1616);
	background:-moz-linear-gradient(top,#9a1010,#9a1616);
}
header a.add:active,header a.cancel:active{
	background:black;
}
img:hover{cursor:pointer;}
.DyGrid-11 header span,.DyGrid-10 header span,.DyGrid-9 header span,.DyGrid-8 header span.DyGrid-7 header span,.DyGrid-6 header span{
	text-align:center;
	float:left;
	width:70%;
}

/* Grid Table Div  */
.DyGrid-tbl{width:100%;margin:0 auto;border:1px solid #fafafa;margin-top:1px;padding-bottom:3px;}
.table_header,.table_row{width:100%;float:left;}
.DyGrid-tbl .table_header span,.DyGrid-tbl .table_row span{float:left;margin:0 auto;}
.table_row span img{margin-right:5px;}

/* Table Header and Table Body Class  */
/*  for Header exp. TH */
.DyGrid-th-1,.DyGrid-th-2,.DyGrid-th-3,.DyGrid-th-4,.DyGrid-th-5,.DyGrid-th-6,.DyGrid-th-7,
.DyGrid-th-8,.DyGrid-th-9,.DyGrid-th-10,.DyGrid-th-sm,.DyGrid-th-md,.DyGrid-th-lg,.table_header .check{	
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	font-weight:900;
	padding:4px 0px;
	position: relative;
	background:#fff;
	border-bottom: 1px solid #9B9B9B;
}

/*  for Header exp. TD */
.DyGrid-td-1,.DyGrid-td-2,.DyGrid-td-3,.DyGrid-td-4,.DyGrid-td-5,.DyGrid-td-6,.DyGrid-td-7,
.DyGrid-td-8,.DyGrid-td-9,.DyGrid-td-10,.DyGrid-td-sm,.DyGrid-td-md,.DyGrid-td-lg,.table_row .check{
	padding:13px 0px;
	height:15px;
	border-bottom: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
/*	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);*/
	text-align:center;
}
.DyGrid-th-1,.DyGrid-td-1{width:88%;}
.DyGrid-th-2,.DyGrid-td-2{width:44%;}
.DyGrid-th-3,.DyGrid-td-3{width:29.33%;}
.DyGrid-th-4,.DyGrid-td-4{width:22%;}
.DyGrid-th-5,.DyGrid-td-5{width:17.6%;}
.DyGrid-th-6,.DyGrid-td-6{width:14.66%;}
.DyGrid-th-7,.DyGrid-td-7{width:12.28%;}
.DyGrid-th-8,.DyGrid-td-8{width:11%;}
.DyGrid-th-9,.DyGrid-td-9{width:9.77%;}
.DyGrid-th-10,.DyGrid-td-10{width:8.8%;}
.DyGrid-th-sm,.DyGrid-td-sm{width:5%;}
.DyGrid-th-md,.DyGrid-td-md{width:9.5%;}
.DyGrid-th-lg,.DyGrid-td-lg{width:20%;}
.DyGrid-tbl .table_row:hover span{
	background:#EDFCFF;
	cursor:auto;	
}
.DyGrid-tbl .table_row:last-child span{border-bottom:0;}
.DyGrid-tbl .table_row:last-child span:first-child{border-bottom-left-radius:5px;}
.DyGrid-tbl .table_row:last-child span:last-child{border-bottom-right-radius:5px;}

/* Checkbox and Oprations  */

.table_row .check,.table_header .check{margin:0px 1px 0px 1px!important;width:2%;}
.table_row .opration{width:10%;}

/* Create Row PopUp */
.createPopup_Bg{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:gray;
	opacity:0.6;
	top:0;
	left:0;
	cursor:pointer;
}
.createPopup,.editPopup{
	display:none;
	width:600px;
	padding:10px;	
	top:30px;
	margin:0 auto;
	box-shadow:0px 0px 2px 0px rgb(161, 175, 199);
	position:absolute;
	z-index:99;
	background:#fff;
	opacity:0.95;
	left:30%;
	border:2px solid rgb(161, 175, 199);
	border-radius:5px;
}
.createPopup header,.editPopup header{
	font-weight:bold;
	font-size:20px;
	box-shadow: 0px 0px 0px 1px #f4f4f4;
	background:#F4F4F4;
	margin:0 auto;
	text-align:center;
	padding:5px;
	margin-bottom:10px;
	border-radius: 2px;
}
.createPopup label,.editPopup label{
	width:100px;
	padding:0px 5px;
}
.createPopup .close_button,.editPopup .close_button{
	cursor:pointer;
}